
<!-- Modal -->
<div class="modal fade" id="import_report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">导入报表</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form action="/diyConfig/import" method="post" enctype="multipart/form-data" target="_blank">
                        <input type="file" name="report_conf" class="btn btn-sm" style="display: inline-block" />
                        <input type="submit" value="提交" class="btn btn-primary btn-sm" style="display: inline-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function() {
        function init() {
            seajs.use('css/bootstrap.min.css');
            seajs.use('js/diy/config_import.js', function(page) {
                page.init();
            });
        }

        if (window.seajs) {
            init();
        } else {
            var SITE_URL = "/";
            var script = document.createElement("script");
            script.src = SITE_URL + "static/js/libs/seajs.utils.js";
            script.charset = "utf-8";
            script.onload = init;

            var header = document.getElementsByTagName("head")[0];
            header.insertBefore(script, header.firstChild);
        }
    })();
</script>


