<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<?php
$width = $tableInfo['editDialogWidth'];
if (!$width) {
    $width = 640;
    foreach ($fields as $datas) {
        foreach ($datas as $fieldName => $field) {
            if ($field['inputType'] == 'image') {
                $width = max($width, 800);
            } else if ($field['inputType'] == 'rich_textarea') {
                $width = max($width, 1024);
            }
        }
    }
}
?>
    <div class="modal-dialog" style="width:<?= $width ?>px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">增加</h4>
            </div>
            <div class="modal-body">
                <?php require(ROOT_PATH . 'views' . DIRECTORY_SEPARATOR . $path . 'diy/table_add_form.html') ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_save" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>添加
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-title { cursor: move; }
</style>
